modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33257
externalPort = 4200

[[ports]]
localPort = 33295
externalPort = 3000

[[ports]]
localPort = 36925
externalPort = 3002

[[ports]]
localPort = 43871
externalPort = 3003

[[ports]]
localPort = 46465
externalPort = 3001

[[ports]]
localPort = 46757
externalPort = 5000

[nix]
channel = "stable-25_05"
